#london > img {
    height: 265px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#london > figcaption {
    color: grey;
    font-size: 13px;
}

#london {
    height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
}

#envelop {
    color: rgb(130, 130, 130);
    text-decoration: underline;
}

a.footer-link {
    color: rgb(17, 17, 17);
    text-decoration: underline;
}